@charset "UTF-8";

/*
    Em HTML é id = em CSS é #
    Em HTML class = em CSS é .
*/

body {
    background-color: rgb(152, 246, 149);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    color: white;
}

h1 {
    color: rgb(10, 187, 4);
}

h2 {
    color: rgb(39, 149, 35);
}

.basico {
    color: rgb(10, 187, 4);
}

.intermediario {
    color: rgb(184, 187, 4);
}

.avançado {
    color: rgb(187, 4, 4);
}

.destaque {
    background-color: rgba(255, 255, 0, 0.664);
}