@charset "UTF-8";

/*
    Em HTML é id = em CSS é #
    Em HTML class = em CSS é .
*/

body {
    background-color: rgb(152, 246, 149);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: rgb(24, 163, 19);
    color: white;
}

h1 {
    color: rgb(10, 187, 4);
}

h2 {
    color: rgb(39, 149, 35);
}